.calculator {
  background-color: hsla(0, 0%, 80%, .1);
  backdrop-filter: blur(10px) saturate(225%) contrast(100%) brightness(150%) opacity(.3);
  border-radius: 15px;
  box-shadow: -40px 25px 30px hsla(0, 0%, 0%, .3);
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 15px;
  height: 600px;
  width: 400px;
}