@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('/public/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
}

* {
  border: none;
  color: hsla(0, 0%, 0%, .75);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat SemiBold', sans-serif;
  font-size: 15px;
}

body {
  background-image: linear-gradient(0deg, hsla(280, 40%, 25%, .75), hsla(0, 0%, 0%, .25)), linear-gradient(to right, hsl(345, 100%, 65%), hsl(180, 50%, 40%));
  min-height: 100vh;
  display: grid;
  place-items: center;
}

img {
  max-height: 100%;
  max-width: 100%;
}